<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="list" [text]="'Voltar'"></ion-back-button>
    <ion-title>Argumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title><b>9) Argumento</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
              Argumento é uma sequência de proposições. As primeiras são chamadas de premissas e a última de conclusão. O símbolo     é traduzido por “portanto” e separa as premissas da conclusão. Assim, a forma de uma  argumento é: premissas/conclusão.
              <br>
              Exemplo:
              <br>
              Se estudar, então eu aprendo................A ----> B
              <br>
              Estudei.....................................A
              <br>
              Portanto, aprendi...........................
              <br>
              <br>
              <b>Nota:</b>
              <br>
              Um argumento pode ser válido ou não. Como saber se um argumento é válido?  Existem situações simples e complexas, veja:
              <br>
               a)	Vou ao cinema ou, vou à escola ou vou namorar.
              <br>
              Não vou namorar.
              <br>
              Portanto, vou ao cinema ou vou à escola.
              <br>
              <br>
               b) Se  tenho dinheiro, então compro roupa ou não passeio.
               <br>
               Se compro roupa, então tenho dinheiro e passeio.
               <br>
               Portanto, se tenho dinheiro, então passeio. ( e agora?)
               <br>

          </p>
        </ion-card-content>
      </ion-card>
</ion-content>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title><b>10) Validade de um Argumento</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
              <b>Um argumento é considerado válido quando premissas verdadeiras levarem à conclusão verdadeira.</b> É evidente que premissas falsas podem levar a qualquer tipo de concluso e, neste caso, o argumento é não válido.
              <br>
              <br>
              Para verificar se um argumento é válido, seguir os passos abaixo:
              <br>
              a)	Fazer tabela verdade das premissas e da conclusão;
              <br>
              b)	Identificar as linhas críticas......são as linhas onde as premissas são verdadeiras;
              <br>
              c)	O argumento será válido quando todas a linhas críticas tiverem conclusões verdadeira.
              <br>
              Considere o argumento apresentado:
              <br>
              Vou ao cinema ou, vou à escola ou vou namorar. A V ( B V C )
              <br>
              Não vou namorar. C’
              <br>
              Portanto, vou ao cinema ou vou à escola. A V B
              <br>
              <br>
              Fazendo a tabela verdade das premissas e da conclusão:
              <br>
              <ion-img src="/assets/tbp.jpg"></ion-img>
              <br>
              <b>Nota:</b> 
              <br>
              As premissas estão nas colunas 5 e 6. A conclusão está na coluna 7.
              <br>
              As linhas críticas são 2, 4 e 6.
              <br>
              As conclusões nas linhas criticas são verdadeiras, logo o argumento é válido.

          </p>
        </ion-card-content>
      </ion-card>

</ion-content>
