<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="list" [text]="'Voltar'"></ion-back-button>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title><b>App Didático</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Todos os direitos reservados
            <br>
            Copyright © 2019 PPMT Company
          </p>
        </ion-card-content>
      </ion-card>

</ion-content>