<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="list" [text]="'Voltar'"></ion-back-button>
    <ion-title>Proposições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title><b>1) Proposição</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
              Proposição é uma  frase que pode apenas ser ou verdadeira ou falsa. Considere as frases abaixo:
              <br>
              a) Oito é maior que cinco.
              <br>
              b) Como está a aula?
              <br>
              c) Ela é muito bonita.
              <br>
              d) Existem gatos verdes.
              <br>
              <br>
              Pode-se observar que:
              <br>
              a) É uma proposição...é uma frase verdadeira.
              <br>
              b) Não é uma proposição, pois é apenas  uma pergunta e não pode ser classificada como falsa e nem verdadeira.
              <br>
              c) Não é uma proposição, pois “ela” é indefinido e não se pode classificar como falsa e nem verdadeira.
              <br>
              d) É uma proposição...embora seja necessário uma pesquisa para confirmar se é falsa ou verdadeira.
              <br>
          </p>
        </ion-card-content>
      </ion-card>

      <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title><b>2) Conectivos</b></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
                Conectivos, de modo geral, são formas de ligações entre proposições. Os que serão usados aqui estão relacionados a seguir:
                <br>
                <ion-img src="assets/tab.jpg"></ion-img>
                <br>
                Notas:
                <br>
                1)	A negação é um conectivo especial, podendo atuar sobre uma única  proposição.
                <br>
                2) ~A ainda pode ser representado por: A’ ou por ~A.
                <br>
            </p>
          </ion-card-content>
        </ion-card>
</ion-content>
