<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="list" [text]="'Voltar'"></ion-back-button>
    <ion-title>Proposições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title>Introdução</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
              Proposição é uma  frase que pode apenas ser ou verdadeira ou falsa.
              <br>
              Considere as frases abaixo:
              <br>
              Oito é maior que cico.
              Como está a aula?
              Ela é muito bonita.
              Existem gatos verdes.
              <br>
              Pode-se observar que:
              <br>
              É uma proposição...é uma frase verdadeira.
              Não é uma proposição, pois é apenas  uma pergunta e não pode ser classificada como falsa e nem verdadeira.
              Não é uma proposição, pois “ela” é indefinido e não se pode classificar como falsa e nem verdadeira.
              É uma proposição...embora seja necessário uma pesquisa para confirmar se é falsa ou verdadeira.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>Tabela verdade</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
                Proposição é uma  frase que pode apenas ser ou verdadeira ou falsa.
                <br>
                Considere as frases abaixo:
                <br>
                Oito é maior que cinco.
                Como está a aula?
                Ela é muito bonita.
                Existem gatos verdes.
                <br>
                Pode-se observar que:
                <br>
                É uma proposição...é uma frase verdadeira.
                Não é uma proposição, pois é apenas  uma pergunta e não pode ser classificada como falsa e nem verdadeira.
                Não é uma proposição, pois “ela” é indefinido e não se pode classificar como falsa e nem verdadeira.
                É uma proposição...embora seja necessário uma pesquisa para confirmar se é falsa ou verdadeira.
            </p>
          </ion-card-content>
        </ion-card>
</ion-content>
