<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="list" [text]="'Voltar'"></ion-back-button>
    <ion-title>Tautologia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title><b>7) Tautologia:  Vício de linguagem, ou seja, dizer a mesma coisa por formas diferentes</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
              Uma tautologia é uma sentença sempre verdadeira. No caso da sentença ser sempre falsa ela é denominada de contradição. Existem, no entanto, sentenças  que não são tautologias e nem contradições.
              <br>
              <br>
              <b>Ex)</b> A V A’( “ Hoje vai ter sol ou hoje não vai ter sol”) é uma tautologia, pois já que uma ou outra das duas coisas tem que acontecer.
              <br>
              <br>
               <b>b)</b> A’ ^ A ( “ Hoje é quarta feira e hoje não é quarta feira”)  é uma contradição, pois  é falsa qualquer que seja o dia da semana hoje.
              <br>
              <br>
              <b>c)</b> ( A ---> B) ---> B’ não é uma tautologia e nem uma contradição. 
              <br>
          </p>
        </ion-card-content>
      </ion-card>

</ion-content>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title><b>8) Equivalências Tautológicas</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            <ion-img src="/assets/tauto.jpg"></ion-img>
          </p>
        </ion-card-content>
      </ion-card>

</ion-content>
   

