<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/Math.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Vamos iniciar?</ion-card-subtitle>
        <ion-card-title>Material Didático sobre a disciplina Fundamentos Matemáticos Para Computação!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>App didático sobre a disciplina de Fundamentos Matemáticos Para Computação.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
